.calculator{
   border: 1px solid black;
   width: 200px;
   border-radius: 5px;
   padding: 10px;
}
.display{
   margin:10px;
   width:175px;
   font-size:25px;

}
.buttonContainer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;





}
.button{
   width:45px;
   height:45px;
   margin:3px;
   



}



